<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="clickLocalNotification()">
    Click notification
  </ion-button>

  <ion-button (click)="clickNetworkInfo()">
    Check network
  </ion-button>

  <ion-button (click)="goPageDetail()">
    Detail Page
  </ion-button>
</ion-content>