<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- another example page navigation based on routing path name -->
  <ion-button routerLink="/">
    Home Page
  </ion-button>

</ion-content>